Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-unchecked-optional-access,
  clang-analyzer-*,
  -clang-analyzer-optin.performance.Padding,
  cppcoreguidelines-slicing,
  cppcoreguidelines-virtual-class-destructor,
  misc-redundant-expression,
  misc-unused-using-decls,
  modernize-use-nullptr,
  modernize-use-override,
  performance-*,
  readability-container-size-empty,
  readability-redundant-*,
  -readability-redundant-member-init
HeaderFilterRegex: '.*/src/.*'
WarningsAsErrors: ''
