<!DOCTYPE html>
<html>
  <head>
    <title>Edit settings for Designers</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, interactive-widget=resizes-content">
    <meta name="view-transition" content="same-origin">
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="current-user-id" content="712064548" /><meta name="current-user-name" content="Kevin" />
    <meta name="action-cable-url" content="/cable">

    <meta name="vapid-public-key">
    <meta name="turbo-prefetch" content="true">

    <link rel="manifest" href="/webmanifest.json">
    <link rel="icon" href="/account/logo?v=20260926130357" type="image/png">
    <link rel="apple-touch-icon" href="/account/logo?v=20260926130357">

    
    

    <script type="module">import "application"</script>

  </head>

  <body class="" data-controller="local-time lightbox">
    <a href="#main-content" class="skip-navigation btn">Skip to main content</a>

    <nav id="nav">

  <div class="flex-item-justify-start">
    <a class="btn" href="/rooms/699448325"><img aria-hidden="true" src="/assets/arrow-left-abe40556.svg" width="20" height="20" /><span class="for-screen-reader">Go Back</span></a>
  </div>    </nav>


    <main id="main-content">

<section class="panel txt-align-center" style="view-transition-name: edit-room-654632876">
  <form action="/rooms/closeds/654632876" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch" />
  <div class="flex align-center gap">
      <h1 class="flex-item-grow txt-x-large">
        Designers
      </h1>
  </div>

  <hr class="margin-block borderless">

  <section class="room-access margin-block pad-inline fill-shade border-radius">
    <menu class="flex flex-column gap margin-none pad overflow-y constrain-height" data-controller="filter" data-filter-active-class="filter--active" data-filter-selected-class="selected">

    <div data-filter-target="list" contents>
      <li class="flex align-center gap margin-none" data-value="david">
  <figure class="avatar flex-item-no-shrink" style="--avatar-size: 4ch;">
    <a title="David" class="btn avatar" data-turbo-frame="_top" href="/users/127326141"><img aria-hidden="true" loading="lazy" src="/users/eyJfcmFpbHMiOnsiZGF0YSI6MTI3MzI2MTQxLCJwdXIiOiJ1c2VyL2F2YXRhciJ9fQ--6b3fa66b9de0be76d165e2a8bbe06dd914ead06af3e593aba5fc0b530f5a9290/avatar?v=20260926130357" width="48" height="48" /></a>
  </figure>

  <div class="min-width">
    <div class="overflow-ellipsis fill-shade"><strong>David</strong></div>
  </div>

  <hr class="separator" aria-hidden="true">
</li>
      <li class="flex align-center gap margin-none" data-value="jason">
  <figure class="avatar flex-item-no-shrink" style="--avatar-size: 4ch;">
    <a title="Jason" class="btn avatar" data-turbo-frame="_top" href="/users/149087659"><img aria-hidden="true" loading="lazy" src="/users/eyJfcmFpbHMiOnsiZGF0YSI6MTQ5MDg3NjU5LCJwdXIiOiJ1c2VyL2F2YXRhciJ9fQ--51b1b4b9f2c0206465c68b257437e475c049ed30fef60bd8667d91242a7533f0/avatar?v=20260926130357" width="48" height="48" /></a>
  </figure>

  <div class="min-width">
    <div class="overflow-ellipsis fill-shade"><strong>Jason</strong></div>
  </div>

  <hr class="separator" aria-hidden="true">
</li>
      <li class="flex align-center gap margin-none" data-value="jz">
  <figure class="avatar flex-item-no-shrink" style="--avatar-size: 4ch;">
    <a title="JZ – Designer" class="btn avatar" data-turbo-frame="_top" href="/users/773523953"><img aria-hidden="true" loading="lazy" src="/users/eyJfcmFpbHMiOnsiZGF0YSI6NzczNTIzOTUzLCJwdXIiOiJ1c2VyL2F2YXRhciJ9fQ--19fbbbabcf4c7fac8032b8f691edaf1d2eb3c4c7ffc1a8522ca0bcdc6948acb1/avatar?v=20260926130357" width="48" height="48" /></a>
  </figure>

  <div class="min-width">
    <div class="overflow-ellipsis fill-shade"><strong>JZ</strong></div>
  </div>

  <hr class="separator" aria-hidden="true">
</li>
      <li class="flex align-center gap margin-none" data-value="kevin">
  <figure class="avatar flex-item-no-shrink" style="--avatar-size: 4ch;">
    <a title="Kevin – Programmer &amp; &quot;tester&quot; &lt;3" class="btn avatar" data-turbo-frame="_top" href="/users/712064548"><img aria-hidden="true" loading="lazy" src="/users/eyJfcmFpbHMiOnsiZGF0YSI6NzEyMDY0NTQ4LCJwdXIiOiJ1c2VyL2F2YXRhciJ9fQ--11e6783ff0c92903066b06a0573ae165b7b4c1aa7bba0cda11d83c66cfe83efa/avatar?v=20260926130359" width="48" height="48" /></a>
  </figure>

  <div class="min-width">
    <div class="overflow-ellipsis fill-shade"><strong>Kevin</strong></div>
  </div>

  <hr class="separator" aria-hidden="true">
</li>
        <hr class="separator full-width" style="--border-style: solid">
      <li class="flex align-center gap margin-none" data-value="bender bot">
  <figure class="avatar flex-item-no-shrink" style="--avatar-size: 4ch;">
    <a title="Bender Bot" class="btn avatar" data-turbo-frame="_top" href="/users/394959859"><img aria-hidden="true" loading="lazy" src="/users/eyJfcmFpbHMiOnsiZGF0YSI6Mzk0OTU5ODU5LCJwdXIiOiJ1c2VyL2F2YXRhciJ9fQ--a6aec0d65ccaf8e6396b1b7b99fbcf302c9e1596497d1f5c513b5adf2e39aacb/avatar?v=20260926130357" width="48" height="48" /></a>
  </figure>

  <div class="min-width">
    <div class="overflow-ellipsis fill-shade"><strong>Bender Bot</strong></div>
  </div>

  <hr class="separator" aria-hidden="true">
</li>
    </div>
</menu>
  </section>
</form>
</section>
      <footer id="footer">
      </footer>
    </main>

    <aside id="sidebar" data-controller="toggle-class" data-toggle-class-toggle-class="open">
    </aside>

    <dialog class="lightbox" aria-label="Image Viewer (Press escape to close)" data-lightbox-target="dialog" data-action="close->lightbox#reset">
  <img src="" class="lightbox__image" data-lightbox-target="zoomedImage" />

  <form method="dialog" class="lightbox__btn">
    <button class="btn">
      <img aria-hidden="true" src="/assets/remove-0e7a045d.svg" />
      <span class="for-screen-reader">Close image viewer</span>
    </button>
  </form>

  <a href="" class="lightbox__btn--download btn hide-in-ios-pwa" data-lightbox-target="download">
    <img aria-hidden="true" src="/assets/download-04029899.svg" />
    <span class="for-screen-reader">Download file</span>
  </a>

  <button class="lightbox__btn--share btn"
      data-controller="web-share"
      data-action="web-share#share"
      data-web-share-files-value=""
      data-lightbox-target="share">
    <img aria-hidden="true" src="/assets/share-bf28da4f.svg" />
    <span class="for-screen-reader">Share file</span>
  </button>
</dialog>


    <a href="https://once.com" id="app-logo" target="_blank" aria-label="Once software from 37signals home page">
      <img alt="Campfire logo" width="256" height="216" src="/assets/campfire-icon-3d9986c5.png" />
    </a>
  </body>
</html>
